language: node_js
node_js:
  - "7.10"
  - "8.2"
sudo: false
cache:
  directories:
    - node_modules
before_install:
  # Remove all non-test dependencies
  # Update Node.js modules
  - "test ! -d node_modules || npm prune"
  - "test ! -d node_modules || npm rebuild"
script: "npm run-script test"
after_script: "npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"


